{{ ansible_managed | comment(decoration='; ') }}

[{{ item.pool_name | mandatory }}]

user = {{ item.pool_user }}
group = {{ item.pool_group }}

listen = {{ item.pool_listen }}
;listen.backlog = 511

listen.owner = {{ item.pool_user }}
listen.group = {{ item.pool_group }}
;listen.mode = 0660
listen.allowed_clients = 127.0.0.1

pm = {{ item.pool_pm }}
pm.max_children = {{ item.pool_pm_max_children }}
;pm.process_idle_timeout = 10s;
pm.max_requests = {{ item.pool_php_fpm_pm_max_requests }}

;pm.status_path = /status
;ping.path = /ping
;ping.response = pong

{% if item.pool_access_log == "On" %}
access.log = {{ php_log_dir }}/{{ item.pool_name }}.access.log
{% endif %}

{% if item.pool_slow_log == "On" %}
slowlog = {{ php_log_dir }}/{{ item.pool_name }}.slow.log
request_slowlog_timeout = {{ item.pool_request_slowlog_timeout }}
{% endif %}


{% for key, val in item.php_admin_value.items()  %}
{% if key == "error_log" and val == "On" %}
php_admin_value[{{ key }}] = {{ php_log_dir }}/{{ item.pool_name }}.error.log
{% else %}
php_admin_value[{{ key }}] = {{ val }}
{% endif %}
{% endfor %}

{% for key, val in item.php_admin_flag.items() %}
php_admin_flag[{{ key }}] = {{ val }}
{% endfor %}

{% for key, val in item.php_value.items() %}
php_value[{{ key }}] = {{ val }}
{% endfor %}

{% for key, val in item.php_flag.items() %}
php_flag[{{ key }}] = {{ val }}
{% endfor %}
